<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>280853704980-ccloh5irudr9duhaqs3rbb7hv2ofl6gf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.280853704980-ccloh5irudr9duhaqs3rbb7hv2ofl6gf</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>280853704980-2msg1ce2ikr9i0gnrc2nn206uuguqbcg.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAc3LAz2ccltb93zJb-UYWBXdyNJRi4xww</string>
	<key>GCM_SENDER_ID</key>
	<string>280853704980</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.omar.taqaapp</string>
	<key>PROJECT_ID</key>
	<string>fitnessproj-30252</string>
	<key>STORAGE_BUCKET</key>
	<string>fitnessproj-30252.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:280853704980:ios:2f1f13c2d1568068985201</string>
</dict>
</plist>